.header {
  font-size: 82px;
  text-align: center;
  color: #005791;
}

.main_text {
  max-width: 600px;
  min-width: 351px;
  margin: 0 auto 12px auto;
  text-align: center;
}

.main_background {
  background-image: url(./img/background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; /* or contain */
}

.main_section-button {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 32px;
}

.header_second {
  font-size: 64px;
  text-align: center;
  margin-top: 0;
  color: white;
}

.main_section {
  margin: 0 auto;
  max-width: 1000px;
  min-width: 300px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  padding: 100px 12px 100px 12px;
}

.second_section {
  width: 100%;
  background-color: #005791;
  border-radius: 48px 48px 0 0;
  margin-top: -50px;
}

.test {
  width: 1000px;
}

.card_container {
  flex: 1;
  display: flex;
  gap: 21px;
  flex-wrap: wrap;
}

.second_container {
  width: 100%;
}
